*{
    margin: 0%;
    padding: 0%;
}
.navigation{
    background: #00a884;
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 1%;
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.userdata{
    float: right;
    margin-top: 0.25%;
    padding: 1%;
    margin-left: 0.25%;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-radius: 12px;
}
.userdata:hover{
    background-color: aquamarine;
}
.userdata:active{
    background-color: white;
}
.container{
    text-align: center;
    font-family: sans-serif;
    font-size: xxx-large;
    padding-top: 23%;
    padding-bottom: 23%;
    background-image: url('download.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: black;
}
.bottom{
    background-color: black;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 4%;
    font-size: smaller;
}